html {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}
  
body {
    padding: 0 0px;
    overflow-x: hidden;
    font-family: operetta-12, serif;
    font-weight: 500;
    font-style: normal;
}
.discussions{
    overflow: hidden; 
    height:100%;
    width: 100%;
    background-size:100%;
}

.main-bk{
    background-image: url('./img/background-pages.png'); 
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 1080px;
}